_obfuscatescreen {
    layout: vertical;
    align: center middle;
    background: $bg;
}

#obf-header {
    align: center top;
    width: 100%;
    height: auto;
    margin: 1 0 0 0;
}

#obf-header > Label {
    align: center top;
    width: 100%;
    text-align: center;
}

#obf-subtitle {
    width: 100%;
    text-align: center;
    color: $accent2;
    text-style: bold;
    margin: 0 0 1 0;
}

#obf-body {
    width: 100%;
    height: 1fr;
    padding: 0 2;
}

#obf-tree-area {
    width: 50%;
    height: 100%;
    border: tall $border;
    background: $input-bg;
}

#obf-tree {
    width: 100%;
    height: 100%;
}

#obf-controls {
    width: 50%;
    height: 100%;
    padding: 0 2;
    scrollbar-size: 1 1;
}

#obf-search {
    width: 100%;
    height: 3;
    background: $input-bg;
    border: solid $border;
    padding: 0 2;
    color: $fg;
}

#obf-search:focus {
    border: solid $accent;
    background: $input-bg-focus;
}

#obf-search .input--placeholder {
    color: $muted;
}

#obf-source {
    width: 100%;
    height: 3;
    background: $input-bg;
    border: solid $border;
    padding: 0 2;
    color: $fg;
    margin-top: 1;
}

#obf-source:focus {
    border: solid $accent;
    background: $input-bg-focus;
}

#obf-source .input--placeholder {
    color: $muted;
}

#obf-output {
    width: 100%;
    height: 3;
    background: $input-bg;
    border: solid $border;
    padding: 0 2;
    color: $fg;
    margin-top: 1;
}

#obf-output:focus {
    border: solid $accent;
    background: $input-bg-focus;
}

#obf-output .input--placeholder {
    color: $muted;
}

#obf-toggle-row,
#obf-toggle-row-2,
#obf-toggle-row-3 {
    width: 100%;
    height: 3;
    padding: 0 1;
    align: left middle;
}

#obf-strings-label,
#obf-layers-label,
#obf-junk-label {
    color: $muted-2;
    padding: 0 1;
}

#obf-expire {
    width: 100%;
    height: 3;
    background: $input-bg;
    border: solid $border;
    padding: 0 2;
    color: $fg;
    margin-top: 1;
}

#obf-expire:focus {
    border: solid $accent;
    background: $input-bg-focus;
}

#obf-expire .input--placeholder {
    color: $muted;
}

#obf-bind {
    width: 100%;
    height: 3;
    background: $input-bg;
    border: solid $border;
    padding: 0 2;
    color: $fg;
    margin-top: 1;
}

#obf-bind:focus {
    border: solid $accent;
    background: $input-bg-focus;
}

#obf-bind .input--placeholder {
    color: $muted;
}

#obf-build {
    width: 100%;
    height: 3;
    margin-top: 1;
}

#obf-data {
    width: 100%;
    margin-top: 1;
}

#obf-footer {
    dock: bottom;
    width: 100%;
    height: auto;
    padding: 0 0 1 2;
}

#obf-back-hint {
    text-align: left;
    color: $muted;
}
